<svg class="dark-dotted-line" width="66px" height="2px" viewBox="0 0 66 2" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <title>Line 2 Copy 2</title>
    <g id="Delivery-Schedule" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-dasharray="2" stroke-linecap="square">
        <g id="Artboard" transform="translate(-88.000000, -88.000000)" stroke="#97999C">
            <line x1="88" y1="89" x2="156" y2="89" id="Line-2-Copy-2"></line>
        </g>
    </g>
</svg>