<svg width="99px" height="2px" viewBox="0 0 99 2" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <title>Dotted_line_White</title>
    <g id="Subscriptions" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-dasharray="2" stroke-linecap="square">
        <g id="Artboard" transform="translate(-55.000000, -103.000000)" stroke="#FFFFFF">
            <line x1="55.25" y1="103.75" x2="155.249982" y2="103.809773" id="Dotted_line_White"></line>
        </g>
    </g>
</svg>