<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<link href="https://unpkg.com/animate.css@3.5.2/animate.min.css" rel="stylesheet" />
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css" />

<style>
  .question-sizes {
    font-size: 4vw;
  }
  .no-filter-or-esp {
    color: #000;
  }
  .answer-holder {
    display: flex;
    justify-content: center;
  }
  .scale {
    font-size: 40px;
  }
  .filter {
    color: #007e49;
    ;
  }
  .filter-but {
    background: #007e49;
    text-transform: uppercase;
    font-family: 'TradeGothicLTPro-BdCn20', "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #fff;
    letter-spacing: 2px;
    font-size: 15px;
    margin: 0 auto 20px;
    padding: 5px 18px;
    border: none;
    margin-top: 20px;
  }
  h1 {
    font-size: 16px;
    text-transform: uppercase;
    font-family: 'TradeGothicLTPro-BdCn20', "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
    margin: 0;
    border-top: 2px solid #f2f2f2;
    font-size: 16px;
    transition: all .3s ease !important;
    line-height: 46px;
  }
  .h1-not-open {
    font-size: 32px;
    color: #000;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .espresso {
    color: #960c14;
  }
  .espresso-but {
    background: #960c14;
    text-transform: uppercase;
    font-family: 'TradeGothicLTPro-BdCn20', "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #fff;
    letter-spacing: 2px;
    font-size: 15px;
    margin: 0 auto 20px;
    padding: 5px 18px;
    border: none;
    margin-top: 20px;
  }
  @-webkit-keyframes scale {
    0% {
      -webkit-transform: scale(1.0);
    }

    100% {
      -webkit-transform: scale(2.0);
    }
  }
  @keyframes scale {
    0% {
      transform: scale(1.0);
    }

    100% {
      transform: scale(2.0);
    }
  }

  /* .subs-msg-holder .no-filter-or-esp {
    color: #000;
  }
    .subs-msg-holder .espresso {
    color: #960c14;
  }
    .subs-msg-holder .filter {
    color: #007e49;
  } */
</style>

<div id="app">

  <div class="top-img-holder">
    <div class="top-img-txt-holder">
      {% include 'white-dotted-line' %}
      <h1 class="txt-heading">Subscriptions </h1>
      {% include 'white-dotted-line' %}
      <p class="banner-par">We offer carefully curated and selected coffees
        allowing for direct insight into the Square Mile taste ethos.
        Similar to a travelogue, we guide our customers
        through a landscape of process and origin from curious to
        classic seasonal coffees. Whether it be a
        favourite from our existing range, a preview of a coffee to come, or
        a small micro-lot exclusive to our subscribers,
        we put forward a variety of subscription plans to
        entice palates of all levels and brighten your coffee ritual. </p>
    </div>
  </div>

  <div class="subscription-holder">

    <!--  Eight section Delivery Options -->
    <div class="eight-section-parent-holder">
      <div @click="resetQuestion" data-id="0" v-if="!question0" class="subs-msg-holder">Delivered to
        <span :class="{ 'filter' : questions.productType == 'Filter' ,  'espresso' : questions.productType == 'Espresso', 'no-filter-or-esp' : questions.productType == ''}">
          %%questions.productShippingLocation%% </span>
      </div>
      {% comment %} <div v-if="question0" class="eight-question-sub-parent-holder">
        <h1
          :class="{'h1-not-open': (questions.subscriptionPlan == 'Ongoing Subscription' && !question5) || (questions.subscriptionPlan == 'Plan or Gift Subscription' && !question6)}">
          Where would you like your coffee delivered? </h1>
        <div
          class="eight-question-sub-parent-holder">
          <div class="answer-holder">
            <div id="testing-h-one" style="border-right: 1px solid #f2f2f2" class="answer-sub-holder">
              {% include 'dotted-line' %}
              <label for="uk">UK
                <br>
                {% include 'dotted-line' %}
                <p id="sub-question-info"> 
                  <!-- %%priceUK | toCurrency %% total -->

                </p>
                {%- comment -%}
                <p class="incl_ship"> including shipping</p>
                {%- endcomment -%}
                <div class="fieldlist"
                  :class="{ 'fieldlist-espresso' : questions.productType == 'Espresso', 'fieldlist-filter' : questions.productType == 'Filter' ,'fieldlist' : questions.productType == ''}">

                  <input class="center-flow" onclick="window.location='//shop.squaremilecoffee.com/pages/subscription-flow';"  type="radio" id="uk" value="UK">
                </div>
              </label>
            </div>
            <br>
            <div id="testing-h-one" style="border-right: 1px solid #f2f2f2" class="answer-sub-holder">
              {% include 'dotted-line' %}
              <label for="europe">European Union
                <br>
                {% include 'dotted-line' %}
                <p id="sub-question-info"> 
                  <!-- %%priceEU | toCurrency %% total -->
                </p>
                {%- comment -%}
                <p class="incl_ship"> including shipping</p>
                {%- endcomment -%}

                <div class="fieldlist"
                  :class="{ 'fieldlist-espresso' : questions.productType == 'Espresso', 'fieldlist-filter' : questions.productType == 'Filter' ,'fieldlist' : questions.productType == ''}">

                  <input class="center-flow" @change="question0 = !question0" type="radio" id="europe" value="Europe"
                    v-model="questions.productShippingLocation">
                </div>
              </label>
            </div>
            <br>
            <div class="answer-sub-holder">
              {% include 'dotted-line' %}
              <label for="rstWorld">Rest of world
                <br>
                {% include 'dotted-line' %}
                <p id="sub-question-info"> 
                  <!-- %%priceRow | toCurrency %% total -->
                </p>
                {%- comment -%}
                <p id="sub-question-info-countries">including shipping *additional charges may apply to some countries.
                  {%- endcomment -%}
                </p>

                <div class="fieldlist"
                  :class="{ 'fieldlist-espresso' : questions.productType == 'Espresso', 'fieldlist-filter' : questions.productType == 'Filter' ,'fieldlist' : questions.productType == ''}">

                  <input class="center-flow" onclick="window.location='//shop.squaremilecoffee.com/pages/subscription-flow/';" type="radio" id="rstWorld"
                    value="Rest of World">
                </div>
              </label>
            </div>
          </div>
        </div>
      </div> {% endcomment %}
    </div>
    <!--  Eight section Delivery Options -->

    <!--  First section Subscription Choice (questionOne = !questionOne) && (changeState('')) &&  -->
    <div class="question-parent-holder" v-if="question0">
      <div @click="resetQuestion" v-if="!question1" class="subs-msg-holder" data-id="1">A Subscription For
        <span id="test"
          :class="{ 'filter' : questions.productType == 'Filter' ,  'espresso' : questions.productType == 'Espresso', 'no-filter-or-esp' : questions.productType == ''}"
          v-if="questions.subscriptionPlan == 'Ongoing Subscription'"> You </span>
        <span
          :class="{ 'filter' : questions.productType == 'Filter' ,  'espresso' : questions.productType == 'Espresso', 'no-filter-or-esp' : questions.productType == ''}"
          v-if="questions.subscriptionPlan == 'Plan or Gift Subscription'"> You </span>
        <!--or a gift -->
      </div>

      <div v-if="question1" class="fst-question-sub-parent-holder">
        <h1 :class="{'h1-not-open': !question0}"> Which Type of Subscription
          would you like? </h1>
        <div class="answer-holder">
          <div id="ongoing" style="border-right: 1px solid #f2f2f2;" class="answer-sub-holder">
            {% include 'dotted-line' %}
            <label id="custom-font" for="ongoingSub">Ongoing Subscription
              <br>
              {% include 'dotted-line' %}
              <br>
              {% include 'ong-new' %}
              <p class="bold">Want coffee delivered to you regularly, charged via recurring payments? </p>
              <p id="sub-question-info">Select your preference, filter or espresso beans and sign up for this ongoing
                weekly, fortnightly or monthly coffee subscription.</p>
              <div class="fieldlist">
                <input class="center-flow" @click="animate" @change="question1 = !question1" type="radio"
                  id="ongoingSub" value="Ongoing Subscription" v-model="questions.subscriptionPlan">
              </div>
            </label>
          </div>
          <br>
          <div id="plan" class="answer-sub-holder">
            {% include 'dotted-line' %}
            <label for="giftSub">
              PLAN SUBSCRIPTION
              <br>
              {% include 'dotted-line' %}
              <br>
              {% include 'gift-new' %}
              <p class="bold">Want to plan ahead with a 3, 6 or 12-month coffee subscription?
              </p>
              <p id="sub-question-info">Select your preference, filter or espresso beans and sign up for this weekly,
                fortnightly or monthly coffee subscription.</p>
              <div class="fieldlist">
                <input class="center-flow" @change="question1 = !question1" type="radio" id="giftSub"
                  value="Plan or Gift Subscription" v-model="questions.subscriptionPlan">
              </div>
            </label>
          </div>
        </div>
      </div>

    </div>
    <!--  End First section Subscription Choice -->




    <!--  Second section Product Type -->
    <div class="question-parent-holder">

      <div @click="resetQuestion" data-id="2" v-if="!question2" class="subs-msg-holder">Of
        <span
          :class="{ 'filter' : questions.productType == 'Filter' ,  'espresso' : questions.productType == 'Espresso'}">%%questions.productType%%
        </span>
        <span>Beans</span>
      </div>

      <div v-if="question2" class="second-question-sub-parent-holder">
        <h1 :class="{'h1-not-open': !question1}"> What Would you like to Brew? </h1>
        <div v-if="!question1" class="second-question-sub-sub-parent-holder">
          <div class="answer-holder">
            <div id="testing-h-one" style="border-right: 1px solid #f2f2f2" class="answer-sub-holder">
              {% include 'dotted-line' %}
              <label for="filter">Filter
                <br>
                {% include 'dotted-line' %}
                <br>
                {% include 'filtericon' %}
                <p id="sub-question-info">Each coffee is roasted to be enjoyed brewed using any filter method whether it
                  be Aeropress, batch brew or a V60.
                </p>
                <div class="fieldlist">
                  <input class="center-flow" @change="question2 = !question2" type="radio" id="filter" value="Filter"
                    v-model="questions.productType">
                </div>
              </label>
            </div>

            <div id="testing-h" class="answer-sub-holder">
              {% include 'dotted-line' %}
              <label for="espresso">Espresso
                <br>
                {% include 'dotted-line' %}
                <br>
                {% include 'espressoicon' %}
                <p id="sub-question-info">Each coffee is roasted to be enjoyed using either your espresso machine or
                  stovetop Moka from home, or at the office. </p>
                <div class="fieldlist">
                  <input class="center-flow" @change="question2 = !question2" type="radio" id="espresso"
                    value="Espresso" v-model="questions.productType">
                </div>
              </label>
            </div>
          </div>

        </div>
      </div>

    </div>
    <!--  Fourth section Espresso coffee Variants -->

    <div class="question-parent-holder">
      <!--  Espresso  -->
      <div @click="resetQuestion" data-id="3" v-if="!question3 && questions.productType == 'Espresso'"
        class="subs-msg-holder">
        <span
          :class="{ 'filter' : questions.productType == 'Filter' ,  'espresso' : questions.productType == 'Espresso'}">
          %%questions.productVariant%% </span>
        <span>Bag</span>
      </div>
      <!--  Filter    -->
      <div @click="resetQuestion" data-id="3" v-if="!question3 && questions.productType == 'Filter'"
        class="subs-msg-holder">
        <span
          :class="{ 'filter' : questions.productType == 'Filter' ,  'espresso' : questions.productType == 'Espresso'}">
          <span v-if="questions.productVariant == 'Filter Blend'">The</span> %%questions.productVariant%% </span>
        <span>Bag</span>
      </div>

      <div v-if="question3" class="question-parent-holder">
        <h1 :class="{'h1-not-open': !question2}">Which Coffee Option would you like? </h1>

        <!--  Espresso Options       -->

        <div v-if="!question2  && questions.productType == 'Espresso'" class="fourth-question-sub-sub-parent-holder">
          <div class="answer-holder">
            <div id="three-opt-flow" style="border-right: 1px solid #f2f2f2" class="answer-sub-holder extra-tst">
              {% include 'dotted-line' %}
              <label for="redBrick">Red Brick
                <br>
                {% include 'dotted-line' %}
                <p id="sub-question-info">Developed for effortless enjoyment, our signature seasonal espresso blend
                  brings together the best lots of coffee from various producers and origins and is developed to be
                  interesting, approachable and above all, delightful.
                </p>
                <div class="fieldlist"
                  :class="{ 'fieldlist-espresso' : questions.productType == 'Espresso' ,'fieldlist' : questions.productType == ''}">
                  <input class="center-flow" @change="question3 = !question3" type="radio" id="redBrick"
                    value="Red Brick" v-model="questions.productVariant">
                </div>
              </label>
            </div>
            <br>
            <div id="three-opt-flow" style="border-right: 1px solid #f2f2f2" class="answer-sub-holder extra-tst">
              {% include 'dotted-line' %}
              <label for="ourPickEspresso">Our Pick
                <br>
                {% include 'dotted-line' %}
                <p id="sub-question-info">We curate a journey through seasonal espressos. Whether it be a favourite from
                  our existing range, a preview of a coffee to come, or a small micro-lot exclusive to our subscribers,
                  we put forward a variety of coffees to delight.
                </p>
                <div class="fieldlist"
                  :class="{ 'fieldlist-espresso' : questions.productType == 'Espresso' ,'fieldlist' : questions.productType == ''}">

                  <input class="center-flow" @change="question3 = !question3" type="radio" id="ourPickEspresso"
                    value="Our Pick" v-model="questions.productVariant">
                </div>
              </label>
            </div>
            <br>
            <div id="three-opt-flow" class="answer-sub-holder">
              {% include 'dotted-line' %}
              <label for="decaf">Decaf
                <br>
                {% include 'dotted-line' %}
                <p id="sub-question-info">Built on the same taste profile as our Red Brick blend, enjoy a variation of
                  our seasonal blend or single origin decaffeinated espresso developed to be tasty, approachable and
                  above all, delightful. </p>
                <div class="fieldlist"
                  :class="{ 'fieldlist-espresso' : questions.productType == 'Espresso' ,'fieldlist' : questions.productType == ''}">

                  <input class="center-flow" @change="question3 = !question3" type="radio" id="decaf" value="Decaf"
                    v-model="questions.productVariant">
                </div>
              </label>
            </div>
            <br>
          </div>
        </div>

        <!--  Filter Options   -->
        <div v-if="!question2 && questions.productType == 'Filter'" class="third-question-sub-sub-parent-holder">
          <div class="answer-holder">
            <div id="testing-h-one" style="border-right: 1px solid #f2f2f2" class="answer-sub-holder">
              {% include 'dotted-line' %}
              <label for="filterBlend"> The Filter Blend
                <br>
                {% include 'dotted-line' %}
                <p id="sub-question-info">Developed for effortless enjoyment, this seasonal filter blend brings together
                  the best lots of coffee from various producers and origins and is developed to be interesting,
                  approachable and above all, delightful.
                </p>
                <div class="fieldlist"
                  :class="{ 'fieldlist-filter' : questions.productType == 'Filter' ,'fieldlist' : questions.productType == ''}">
                  <input class="center-flow" @change="question3 = !question3" type="radio" id="filterBlend"
                    value="Filter Blend" v-model="questions.productVariant">
                </div>
              </label>
            </div>
            <br>
            <div class="answer-sub-holder">
              {% include 'dotted-line' %}
              <label for="ourPick">Our Pick
                <br>
                {% include 'dotted-line' %}
                <p id="sub-question-info">We curate a journey through curious to classic seasonal coffees. Whether it be
                  a favourite from our existing range, a preview of a coffee to come, or a small micro-lot exclusive to
                  our subscribers, we put forward a variety of coffees to delight.</p>
                <div class="fieldlist"
                  :class="{ 'fieldlist-filter' : questions.productType == 'Filter' ,'fieldlist' : questions.productType == ''}">
                  <input class="center-flow" @change="question3 = !question3" type="radio" id="ourPick" value="Our Pick"
                    v-model="questions.productVariant">
                </div>
              </label>
            </div>
          </div>


        </div>
      </div>


      <!--  End Fourth section Espresso coffee Variants -->



      <!--  Fifth section Coffee Bag Size  -->

      <div class="question-parent-holder">
        <div @click="resetQuestion" data-id="4" v-if="!question4" class="subs-msg-holder">In a
          <span
            :class="{ 'filter' : questions.productType == 'Filter' ,  'espresso' : questions.productType == 'Espresso'}">
            %%questions.productBagSize%% </span>
          <span>Bag</span>
        </div>
        <div v-if="question4" class="fifth-question-sub-parent-holder">
          <h1 :class="{'h1-not-open': !question3 }"> What Size Bags would you like? </h1>
          <div v-if="!question3" class="fifth-question-sub-sub-parent-holder">
            <div class="answer-holder">
              <div id="testing-h-one" style="border-right: 1px solid #f2f2f2" class="answer-sub-holder">
                {% include 'dotted-line' %}
                <label for="small" >350G
                  <br>
                  {% include 'dotted-line' %}
                  <br>
                  {% include 'small-bag' %}
                  <p id="sub-question-info">The perfect size for individuals.</p>
                  <div class="fieldlist"
                    :class="{ 'fieldlist-espresso' : questions.productType == 'Espresso', 'fieldlist-filter' : questions.productType == 'Filter' ,'fieldlist' : questions.productType == ''}">
                    <input class="center-flow" @change="question4 = !question4; priceAmount()" type="radio" id="small" value="350G"
                      v-model="questions.productBagSize">
                  </div>
                </label>
              </div>
              <br>
              <div class="answer-sub-holder">
                {% include 'dotted-line' %}
                <label for="large">1 KG
                  <br>
                  {% include 'dotted-line' %}
                  <br>
                  {% include 'big-bag' %}
                  <p id="sub-question-info">Ideal for teams, families or thirsty people.</p>
                  <div class="fieldlist"
                    :class="{ 'fieldlist-espresso' : questions.productType == 'Espresso', 'fieldlist-filter' : questions.productType == 'Filter' ,'fieldlist' : questions.productType == ''}">

                    <input class="center-flow" @change="question4 = !question4; priceAmount()" type="radio" id="large" value="1KG"
                      v-model="questions.productBagSize">
                  </div>
                </label>
              </div>
            </div>
          </div>
        </div>

      </div>

      <!--  End Fifth section Coffee Bag Size -->




      <!--  Sixth section Filter Type Delivery Options -->
      <!--   v-if="subscriptionPlan == 'Ongoing Subscription' || subscriptionPlan == ''
   -->
      <div class="sixth-section">
        <div @click="resetQuestion" data-id="5" v-if="!question5" class="subs-msg-holder">Delivered
          <span
            :class="{ 'filter' : questions.productType == 'Filter' ,  'espresso' : questions.productType == 'Espresso'}">
            %%questions.productDeliveryFrequency%% </span>
        </div>
        <div v-if="question5" class="fifth-question-sub-parent-holder">
          <h1 :class="{'h1-not-open': !question4}"> How often would you like your coffee delivered? </h1>
          <div v-if="!question4" class="fifth-question-sub-sub-parent-holder">
            <div class="answer-holder">
              <div id="testing-h-one" style="border-right: 1px solid #f2f2f2" class="answer-sub-holder">
                {% include 'dotted-line' %}
                <label for="weekly">Weekly
                  <br>
                  {% include 'dotted-line' %}

                  <p id="sub-question-info" v-if="questions.subscriptionPlan == 'Ongoing Subscription'">
                    %%priceEU | toCurrency %% total including shipping
                  </p>

                  <p id="sub-question-info" v-if="questions.productType == 'Filter'">If coffee is your go-to, a weekly
                    350g bag is perfect for 3-4 cups a day and a 1kg bag is perfect for 9-10 cups a day.</p>
                  <p id="sub-question-info" v-if="questions.productType == 'Espresso'">If coffee is your go-to, a 350g
                    bag is perfect for 2-3 cups a day and a 1kg bag for 7-8 cups a day. </p>

                  <div class="fieldlist"
                    :class="{ 'fieldlist-espresso' : questions.productType == 'Espresso', 'fieldlist-filter' : questions.productType == 'Filter' ,'fieldlist' : questions.productType == ''}">

                    <input class="center-flow" @change="question5 = !question5; priceAmount();" type="radio" id="weekly" value="Weekly"
                      v-model="questions.productDeliveryFrequency">
                  </div>
                </label>
              </div>
              <br>
              <div id="testing-h-one" style="border-right: 1px solid #f2f2f2" class="answer-sub-holder">
                {% include 'dotted-line' %}
                <label for="fortnightly">Fortnightly
                  <br>
                  {% include 'dotted-line' %}

                      <p id="sub-question-info" v-if="questions.subscriptionPlan == 'Ongoing Subscription'">
                        %%priceEU | toCurrency %% total including shipping
                      </p>

                  <p id="sub-question-info" v-if="questions.productType == 'Filter'">For the ultimate convenience, a
                    fortnightly 350g bag is perfect for 1-2 cups a day and a 1kg bag for 4-5 cups a day.</p>
                  <p id="sub-question-info" v-if="questions.productType == 'Espresso'">For the ultimate convenience, a
                    fortnightly 350g bag is perfect for 1-2 cups a day and a 1kg bag for 3-4 cups a day.</p>

                  <div class="fieldlist"
                    :class="{ 'fieldlist-espresso' : questions.productType == 'Espresso', 'fieldlist-filter' : questions.productType == 'Filter' ,'fieldlist' : questions.productType == ''}">

                    <input class="center-flow" @change="question5 = !question5; priceAmount()" type="radio" id="fortnightly"
                      value="Fortnightly" v-model="questions.productDeliveryFrequency">
                  </div>
                </label>
              </div>
              <br>
              <div class="answer-sub-holder">
                {% include 'dotted-line' %}
                <label  for="monthly">Monthly
                  <br>
                  {% include 'dotted-line' %}
                  
                      <p id="sub-question-info" v-if="questions.subscriptionPlan == 'Ongoing Subscription'">
                        %%priceEU | toCurrency %% total including shipping
                      </p>

                  <p id="sub-question-info" v-if="questions.productType == 'Filter'">Always out over weekends? A monthly
                    350g bag is perfect for a weekday morning cup and a 1kg bag makes 3 cups per day, great for those
                    who work from home.</p>
                  <p id="sub-question-info" v-if="questions.productType == 'Espresso'">Always out over weekends? A
                    monthly 350g bag is perfect for a weekday morning cup and a 1kg bag makes 2-3 cups per day.</p>

                  <div class="fieldlist"
                    :class="{ 'fieldlist-espresso' : questions.productType == 'Espresso', 'fieldlist-filter' : questions.productType == 'Filter' ,'fieldlist' : questions.productType == ''}">

                    <input class="center-flow" @change="question5 = !question5; priceAmount()" type="radio" id="monthly"
                      value="Monthly" v-model="questions.productDeliveryFrequency">
                  </div>
                </label>
              </div>

            </div>
            <div class="test-content-container">
              <p>All our subscriptions ship on Wednesdays; monthly filter
                subscriptions ship on the first one
                of the month and monthly espresso subscriptions ship on the third.
                Fortnightly subs ship every other Wednesday.</p>
            </div>
          </div>
        </div>
      </div>


      <!--  End Sixth section Fitler Type Delivery Options -->




      <!--  Seventh section Espresso Type Delivery Options -->

      <div class="sevent-section-parent-holder" v-if="questions.subscriptionPlan == 'Plan or Gift Subscription'">
        <div @click="resetQuestion" data-id="6" v-if="!question6" class="subs-msg-holder">For
          <span
            :class="{ 'filter' : questions.productType == 'Filter' ,  'espresso' : questions.productType == 'Espresso'}">
            %%questions.productDurationFrequency%% </span>
        </div>
        <div v-if="question6" class="eight-question-sub-parent-holder">
          <h1 :class="{'h1-not-open': !question5}"> How many months would you like? </h1>
          <div v-if="!question5" class="seventh-question-sub-sub-parent-holder">
            <div class="answer-holder">
              <div id="testing-h-one" style="border-right: 1px solid #f2f2f2" class="answer-sub-holder">
                {% include 'dotted-line' %}
                <label for="threeMonths">3 Months
                  <br>
                  {% include 'dotted-line' %}

                  <p id="sub-question-info" >
                    %%planSubPriceEU3 | toCurrency %% total including shipping
                  </p>


                  <p id="sub-question-info">Sign up to receive coffee for 3 months.</p>
                  <div class="fieldlist"
                    :class="{ 'fieldlist-espresso' : questions.productType == 'Espresso', 'fieldlist-filter' : questions.productType == 'Filter' ,'fieldlist' : questions.productType == ''}">

                    <input class="center-flow" @change="question6 = !question6; priceAmount()" type="radio" id="threeMonths"
                      value="3 Months" v-model="questions.productDurationFrequency">
                  </div>
                </label>
              </div>
              <br>
              <div id="testing-h-one" style="border-right: 1px solid #f2f2f2" class="answer-sub-holder">
                {% include 'dotted-line' %}
                <label for="sixMonths">6 Months
                  <br>
                  {% include 'dotted-line' %}

                  <p id="sub-question-info">
                    %%planSubPriceEU6 | toCurrency %% total including shipping
                  </p>


                  <p id="sub-question-info">Sign up to receive coffee for 6 months.</p>
                  <div class="fieldlist"
                    :class="{ 'fieldlist-espresso' : questions.productType == 'Espresso', 'fieldlist-filter' : questions.productType == 'Filter' ,'fieldlist' : questions.productType == ''}">

                    <input class="center-flow" @change="question6 = !question6; priceAmount()" type="radio" id="sixMonths"
                      value="6 Months" v-model="questions.productDurationFrequency">
                  </div>
                </label>
              </div>
              <br>
              <div class="answer-sub-holder">
                {% include 'dotted-line' %}
                <label for="Twelve Months">12 Months
                  <br>
                  {% include 'dotted-line' %}

                  <p id="sub-question-info" >
                    %%planSubPriceEU12 | toCurrency %% total including shipping
                  </p>


                  <p id="sub-question-info">Sign up to receive coffee for 12 months.</p>
                  <div class="fieldlist"
                    :class="{ 'fieldlist-espresso' : questions.productType == 'Espresso', 'fieldlist-filter' : questions.productType == 'Filter' ,'fieldlist' : questions.productType == ''}">

                    <input class="center-flow" @change="question6 = !question6; priceAmount()" type="radio" id="Twelve Months"
                      value="12 Months" v-model="questions.productDurationFrequency">
                  </div>
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--  End Seventh section Espresso Type Delivery Options -->

      <div class="prd-summary">
        <h1
          :class="{'h1-not-open': (questions.subscriptionPlan == 'Ongoing Subscription' && !question5) || (questions.subscriptionPlan == 'Plan or Gift Subscription' && !question6)}">
          %%summary%% </h1>
        <div class="data-holder"
          v-if="(questions.subscriptionPlan == 'Ongoing Subscription' && !question5) || (!question6 && questions.subscriptionPlan == 'Plan or Gift Subscription')">

          <p v-if="questions.subscriptionPlan == 'Ongoing Subscription' && !question5">%% questions.subscriptionPlan %%
          </p>
          <p v-if="questions.subscriptionPlan != 'Ongoing Subscription' && !question6">Plan Subscription </p>

          <p> <span v-if="questions.productVariant == 'Filter Blend'">The</span> %%questions.productVariant%%
            %%questions.productType%% </p>
          <p> 1 x %%questions.productBagSize%% bag %%questions.productDeliveryFrequency%% to
            %%questions.productShippingLocation%% </p>
          <p v-if="questions.productShippingLocation == 'Europe'">%%priceEU | toCurrency%% <span
              v-if="questions.subscriptionPlan == 'Ongoing Subscription'">recurring</span> payment</p>
          <p v-if="questions.productShippingLocation == 'UK'">%%priceUK | toCurrency%% <span
              v-if="questions.subscriptionPlan == 'Ongoing Subscription'">recurring</span> payment</p>
          <p v-if="questions.productShippingLocation == 'Rest of World'">%%priceRow | toCurrency%% <span
              v-if="questions.subscriptionPlan == 'Ongoing Subscription'">recurring</span> payment</p>

          <p v-if="questions.subscriptionPlan == 'Ongoing Subscription' && !question5">
            %%questions.productDurationFrequency%% %%questions.productSubscriptionOption%%</p>
          <p v-if="questions.subscriptionPlan != 'Ongoing Subscription' && !question6">
            %%questions.productDurationFrequency%% prepaid</p>

          {% include 'dotted-line' %}
          <br />

          <button @click="checkoutButton"
            :class="{ 'filter-but' : questions.productType == 'Filter' ,  'espresso-but' : questions.productType == 'Espresso'}">

            CHECKOUT </button>
          <p style="color: #333;
    				font-size: 15px;">Thank you for signing up. </p>
          <h2> Your first bag of coffee will be roasted and shipped on %%myDate%% </h2>
          <p style="color: #333;
    				font-size: 15px;">All our coffee ships as whole bean. </p>
        </div>
      </div>
    </div>
  </div>
</div>




<script type="text/javascript">
  {% paginate collections[section.settings.feature_collection].products by 1000 %}
  var products = [{%for product in collections[section.settings.feature_collection].products %}{{ product | json }} {%if forloop.last == false %}, {% endif %} {% endfor %}]
  {% endpaginate %}
</script>


<script type="application/javascript">
  Vue.filter('toCurrency', function (value) {
    if (!value) return ''
    return Shopify.formatMoney(value);
  });

  var app = new Vue({
    el: '#app',
    delimiters: ['%%', '%%'],
    data() {
      return {
        summary: 'Your Subcription Summary',
        info: null,

        questions: {
          productShippingLocation: "",
          subscriptionPlan: "",
          productType: "",
          productVariant: "",
          productBagSize: "",
          productDeliveryFrequency: "",
          productDurationFrequency: "",
          productSubscriptionOption: "",
        },

        question0: true,
        question1: true,
        question2: true,
        question3: true,
        question4: true,
        question5: true,
        question6: true,
        question8: true,
        animated: false,
        allProducts: [],
        productId: '',
        sellingPlan: '',
        priceEU: 0,
        priceUK: 0,
        priceRow: 0,
        myDate: '',
        howOftenQuestionInfo: '',
        priceSummery: 0,
        planSubPriceEU3: 0,
          planSubPriceEU6: 0,
          planSubPriceEU12: 0,
          planSubPriceUK: 0,
          planSubPriceRow: 0,
      }


    },

    mounted: function () {
      for (let i = 0;i < products.length;i++) {
        //            	 console.log(products[i].price);
        this.allProducts.push({
          "variants": products[i].variants,
          "title": products[i].title,
          "price": products[i].price,
        });
      }

      var d = new Date();
      // var d = new Date(2022, 10, 17, 10, 33, 38);

      if(d.getDay() != 3 ){
        d.setDate(d.getDate() + (3 + 7 - d.getDay()) % 7);
      } else {
        d.setDate(d.getDate() + 7);
      }

      var options = { 'weekday': 'long', 'month': 'long', 'day': '2-digit', 'year': 'numeric' };
      this.myDate = d.toLocaleString('en-En', options);

    },


    methods: {
      animate() {
        this.animated = true
      },




      //         newDateRoasting: function(){
      //         this.myDate = new Date();
      //         this.myDate.setDate(this.myDate.getDate() + (3 + 7 - this.myDate.getDay()) % 7);
      //         var arr1 = this.myDate.split(' ').slice(0, 4).join(' ');
      // 		console.log(this.myDate, arr1[0] );

      //         },


      openQuestion: function (event) {

        var questionNumberBuild;
        var questionNumber = event.currentTarget.getAttribute('data-id');
        questionNumberBuild = 'question' + questionNumber;
        for (var i = questionNumber;i <= 8;i++) {
          questionNumberBuild = 'question' + i;

          if (questionNumber == i) {
            this[questionNumberBuild] = false;

          }

        }




      },

      priceAmount: function () {
        var context = this;
        Vue.nextTick(function () {
        var ProductBuildSku;
        //         var ProductVariantDashSpace =   this.questions.productVariant.split(" ").join("-"); 
        //         var ProductShippingLocationDashSpace = this.questions.productShippingLocation.split(" ").join("-");
        var NewShippingLocation;
        var NewMonths;
        var NewProductVariant;
        var Price;
        var priceEU3;
        var priceEU6;
        var priceEU12;
        var priceUK;
        var priceRow;

        switch (context.questions.productShippingLocation) {
          case "Europe":
            NewShippingLocation = "eu";
            break;
          case "Rest of World":
            NewShippingLocation = "row";
            break;
          case "UK":
            NewShippingLocation = "uk";
            break;

        };

        switch (context.questions.productDurationFrequency) {
          case "3 Months":
            NewMonths = "3mo";
            break;
          case "6 Months":
            NewMonths = "6mo";
            break;
          case "12 Months":
            NewMonths = "12mo";
            break;

        };



        switch (context.questions.productVariant) {
          case "Filter Blend":
            NewProductVariant = "blend";
            break;
          case "Our Pick":
            NewProductVariant = "ourpick";
            break;
          case "Decaf":
            NewProductVariant = "decaf";
            break;
          case "Red Brick":
            NewProductVariant = "redbrick";
            break;
        };

        if (context.questions.subscriptionPlan == 'Ongoing Subscription') {
          var ProductBuild = [
            context.questions.productType,
            NewProductVariant,
            context.questions.productBagSize,
            context.questions.productDeliveryFrequency,
            NewShippingLocation
          ].filter(Boolean).join('-');

        } else {
          // debugger
          var ProductBuild = [
            context.questions.productType,
            NewProductVariant,
            context.questions.productBagSize,
            context.questions.productDeliveryFrequency,
            NewMonths,
            NewShippingLocation
          ].filter(Boolean).join('-');

          var priceEU3 = [
            context.questions.productType.toLowerCase(),
            NewProductVariant.toLowerCase(),
            context.questions.productBagSize.toLowerCase(),
            context.questions.productDeliveryFrequency.toLowerCase(),
            "3mo",
            NewShippingLocation.toLowerCase(),
          ].filter(Boolean).join('-');

          var priceEU6 = [
            context.questions.productType.toLowerCase(),
            NewProductVariant.toLowerCase(),
            context.questions.productBagSize.toLowerCase(),
            context.questions.productDeliveryFrequency.toLowerCase(),
            "6mo",
            NewShippingLocation.toLowerCase(),
          ].filter(Boolean).join('-');

          var priceEU12 = [
            context.questions.productType.toLowerCase(),
            NewProductVariant.toLowerCase(),
            context.questions.productBagSize.toLowerCase(),
            context.questions.productDeliveryFrequency.toLowerCase(),
            "12mo",
            NewShippingLocation.toLowerCase(),
          ].filter(Boolean).join('-');

        }



        


        ProductBuildSku = ProductBuild.toLowerCase();

        for (let i = 0;i < context.allProducts.length;i++) {

          for (let b = 0;b < context.allProducts[i].variants.length;b++) {
            var productSku = context.allProducts[i].variants[b].sku.toLowerCase();
   
            if (productSku.includes(ProductBuildSku)) {

              var splitted = context.allProducts[i].variants[b].price
              // var country = productSku.replace(ProductBuildSku, "");
              var country = context.questions.productShippingLocation;
              if (country == "Europe") {
                context.priceEU = context.allProducts[i].variants[b].price;
              }

              if (country == "UK") {
                context.priceUK = context.allProducts[i].variants[b].price;
              }

              if (country == "Rest of World") {
                context.priceRow = context.allProducts[i].variants[b].price;

              }
            }
          }
        };
   
   
        for (let i = 0;i < context.allProducts.length;i++) {
          for (let b = 0;b < context.allProducts[i].variants.length;b++) {
            var productSku = context.allProducts[i].variants[b].sku.toLowerCase();
            if (productSku.includes(priceEU3)) {
              
              var splitted = context.allProducts[i].variants[b].price
              var country = context.questions.productShippingLocation;
              if (country == "Europe") {
                context.planSubPriceEU3 = context.allProducts[i].variants[b].price;
              }
            }
            if (productSku.includes(priceEU6)) {
              var splitted = context.allProducts[i].variants[b].price
              var country = context.questions.productShippingLocation;
              if (country == "Europe") {
                context.planSubPriceEU6 = context.allProducts[i].variants[b].price;
              }
            }
            if (productSku.includes(priceEU12)) {
              var splitted = context.allProducts[i].variants[b].price
              var country = context.questions.productShippingLocation;
              if (country == "Europe") {
                context.planSubPriceEU12 = context.allProducts[i].variants[b].price;
              }
            }
          }
        };


      })
      },


      resetQuestion: function (event) {

        var questionNumberBuild;
        var questionNumber = event.currentTarget.getAttribute('data-id');
        questionNumberBuild = 'question' + questionNumber;
        var questionValue = eval('this.' + questionNumberBuild);
        this[questionNumberBuild] = !questionValue;
        questionNumber = Number(questionNumber);
        for (var i = questionNumber;i < 9;i++) {
          questionNumberBuild = 'question' + i;
          this[questionNumberBuild] = true;
        }

        for (const [index, [key, value]] of Object.entries(Object.entries(this.questions))) {
          // console.log(`${index}: ${key} = ${value}`);
          // console.log(questionNumber-1);
          // debugger
          if (index > questionNumber - 1) {
            this.questions[key] = "";
          }
        }

      },


      checkoutButton() {
        var ProductBuildSku;
        var NewShippingLocation;
        var NewMonths;
        var NewProductVariant;

        switch (this.questions.productShippingLocation) {
          case "Europe":
            NewShippingLocation = "eu";
            break;
          case "Rest of World":
            NewShippingLocation = "row";
            break;
          case "UK":
            NewShippingLocation = "uk";
            break;

        };

        switch (this.questions.productDurationFrequency) {
          case "3 Months":
            NewMonths = "3mo";
            break;
          case "6 Months":
            NewMonths = "6mo";
            break;
          case "12 Months":
            NewMonths = "12mo";
            break;

        };

        switch (this.questions.productVariant) {
          case "Filter Blend":
            NewProductVariant = "blend";
            break;
          case "Our Pick":
            NewProductVariant = "ourpick";
            break;
          case "Decaf":
            NewProductVariant = "decaf";
            break;
          case "Red Brick":
            NewProductVariant = "redbrick";
            break;


        };

        if (this.questions.subscriptionPlan == 'Ongoing Subscription') {
          var ProductBuild = [
            this.questions.productType,
            NewProductVariant,
            this.questions.productBagSize,
            NewShippingLocation
          ].filter(Boolean).join('-');

        } else {
          var ProductBuild = [
            this.questions.productType,
            NewProductVariant,
            this.questions.productBagSize,
            this.questions.productDeliveryFrequency,
            NewMonths,
            NewShippingLocation
          ].filter(Boolean).join('-');
        }

        ProductBuildSku = ProductBuild.toLowerCase();
        console.log(ProductBuildSku);



       
        // for (let i = 0;i < this.allProducts.length;i++) {
        //   for (let b = 0;b < this.allProducts[i].variants.length;b++) {
        //     var productSku = this.allProducts[i].variants[b].sku.toLowerCase();
        //     if (productSku == ProductBuildSku) {
        //       this.productId = this.allProducts[i].variants[b].id;
        //       this.sellingPlan = this.allProducts[i].variants[b].selling_plan_allocations[0].selling_plan_id;
        //       console.log(`sell_plan: ${this.allProducts[i].variants[b].selling_plan_allocations[0].selling_plan_id}`);
        //       console.log(`var_id:${this.allProducts[i].variants[b].id}`);
        //     }
        //   }
        // };

      


        if (this.questions.subscriptionPlan == 'Ongoing Subscription') {
          var shipping_frequency;
          var shipping_interval_unit;
          switch (this.questions.productDeliveryFrequency) {
            case "Fortnightly":
              shipping_interval_unit = "14";
              break;
            case "Weekly":
              shipping_interval_unit = "7";
              break;
            case "Monthly":
              shipping_interval_unit = "30";
              break;
          };

  
        for (let i = 0;i < this.allProducts.length;i++) {
          for (let b = 0;b < this.allProducts[i].variants.length;b++) {

            var productSku = this.allProducts[i].variants[b].sku.toLowerCase();
            if (productSku == ProductBuildSku) {
           
              this.productId = this.allProducts[i].variants[b].id;
              if(this.questions.productDeliveryFrequency == "Weekly") {
                this.sellingPlan = this.allProducts[i].variants[b].selling_plan_allocations[0].selling_plan_id;
              } else if(this.questions.productDeliveryFrequency == "Fortnightly") {
                  this.sellingPlan = this.allProducts[i].variants[b].selling_plan_allocations[1].selling_plan_id;
              } else {
                  this.sellingPlan = this.allProducts[i].variants[b].selling_plan_allocations[2].selling_plan_id;
              }
              console.log(`sell_plan: ${this.allProducts[i].variants[b].selling_plan_allocations[0].selling_plan_id}`);
              console.log(`var_id:${this.allProducts[i].variants[b].id}`);
            }
          }
        };

        var data = {
          "quantity": 1,
        };
        if (this.questions.productBagSize === "350G") {
          if (this.questions.productVariant === "Filter Blend") {
            if (this.questions.productDeliveryFrequency === "Weekly") {
              data.id = "47020235325748";
              data.selling_plan = "690243830068";
            } else if (this.questions.productDeliveryFrequency === "Fortnightly") {
              data.id = "47020235325748";
              data.selling_plan = "690243797300";
            } else if (this.questions.productDeliveryFrequency === "Monthly") {
              data.id = "47020235325748";
              data.selling_plan = "690243862836";
            }
          } else if (this.questions.productVariant === "Our Pick") {
                if (this.questions.productType === "Espresso") {
                  if (this.questions.productDeliveryFrequency === "Weekly") {
                    data.id = "47020233785652";
                    data.selling_plan = "690243666228";
                  } else if (this.questions.productDeliveryFrequency === "Fortnightly") {
                    data.id = "47020233785652";
                    data.selling_plan = "690243698996";
                  } else if (this.questions.productDeliveryFrequency === "Monthly") {
                    data.id = "47020233785652";
                    data.selling_plan = "690243731764";
                  }
                } else if (this.questions.productType === "Filter") {
                  if (this.questions.productDeliveryFrequency === "Weekly") {
                    data.id = "47020237979956";
                    data.selling_plan = "690313396532";
                  } else if (this.questions.productDeliveryFrequency === "Fortnightly") {
                    data.id = "47020237979956";
                    data.selling_plan = "690313462068";
                  } else if (this.questions.productDeliveryFrequency === "Monthly") {
                    data.id = "47020237979956";
                    data.selling_plan = "690313429300";
                  }
                }
          } else if (this.questions.productVariant === "Decaf") {
            if (this.questions.productDeliveryFrequency === "Weekly") {
              data.id = "47020230836532";
              data.selling_plan = "690212405556";
            } else if (this.questions.productDeliveryFrequency === "Fortnightly") {
              data.id = "47020230836532";
              data.selling_plan = "690212438324";
            } else if (this.questions.productDeliveryFrequency === "Monthly") {
              data.id = "47020230836532";
              data.selling_plan = "690212471092";
            }
          } else if (this.questions.productVariant === "Red Brick") {
            if (this.questions.productDeliveryFrequency === "Weekly") {
              data.id = "47020231393588";
              data.selling_plan = "690311823668";
            } else if (this.questions.productDeliveryFrequency === "Fortnightly") {
              data.id = "47020231393588";
              data.selling_plan = "690311889204";
            } else if (this.questions.productDeliveryFrequency === "Monthly") {
              data.id = "47020231393588";
              data.selling_plan = "690311856436";
            }
          }
        } else if (this.questions.productBagSize === "1KG") {
            if (this.questions.productVariant === "Filter Blend") {
            if (this.questions.productDeliveryFrequency === "Weekly") {
              data.id = "47020235358516";
              data.selling_plan = "690243830068";
            } else if (this.questions.productDeliveryFrequency === "Fortnightly") {
              data.id = "47020235358516";
              data.selling_plan = "690243797300";
            } else if (this.questions.productDeliveryFrequency === "Monthly") {
              data.id = "47020235358516";
              data.selling_plan = "690243862836";
            }
          } else if (this.questions.productVariant === "Our Pick") {
                if (this.questions.productType === "Espresso") {
                  if (this.questions.productDeliveryFrequency === "Weekly") {
                    data.id = "47020233851188";
                    data.selling_plan = "690243666228";
                  } else if (this.questions.productDeliveryFrequency === "Fortnightly") {
                    data.id = "47020233851188";
                    data.selling_plan = "690243698996";
                  } else if (this.questions.productDeliveryFrequency === "Monthly") {
                    data.id = "47020233851188";
                    data.selling_plan = "690243731764";
                  }
                } else if (this.questions.productType === "Filter") {
                  if (this.questions.productDeliveryFrequency === "Weekly") {
                    data.id = "47020238012724";
                    data.selling_plan = "690313396532";
                  } else if (this.questions.productDeliveryFrequency === "Fortnightly") {
                    data.id = "47020238012724";
                    data.selling_plan = "690313462068";
                  } else if (this.questions.productDeliveryFrequency === "Monthly") {
                    data.id = "47020238012724";
                    data.selling_plan = "690313429300";
                  }
                }
          } else if (this.questions.productVariant === "Decaf") {
            if (this.questions.productDeliveryFrequency === "Weekly") {
              data.id = "47020230869300";
              data.selling_plan = "690212405556";
            } else if (this.questions.productDeliveryFrequency === "Fortnightly") {
              data.id = "47020230869300";
              data.selling_plan = "690212438324";
            } else if (this.questions.productDeliveryFrequency === "Monthly") {
              data.id = "47020230869300";
              data.selling_plan = "690212471092";
            }
          } else if (this.questions.productVariant === "Red Brick") {
            if (this.questions.productDeliveryFrequency === "Weekly") {
              data.id = "47020231426356";
              data.selling_plan = "690311823668";
            } else if (this.questions.productDeliveryFrequency === "Fortnightly") {
              data.id = "47020231426356";
              data.selling_plan = "690311889204";
            } else if (this.questions.productDeliveryFrequency === "Monthly") {
              data.id = "47020231426356";
              data.selling_plan = "690311856436";
            }
          }
        }


          if (this.questions.productType === "Espresso") {
            console.log("Condition 2 met");
            if (this.questions.productVariant === "Our Pick") {
              console.log("Condition 3 met");
              if (this.questions.productBagSize === "350G") {
                console.log("Condition 4 met");
                if (this.questions.productDeliveryFrequency === "Fortnightly") {
                  console.log("All conditions met. Adding product to cart.");
                  data.id = "47416577818932";
                  data.selling_plan = "690330534196";
                }
              }
            }
          }

          console.log(data);
   
          jQuery.ajax({
            type: 'POST',
            url: '/cart/add.js',
            data: data,
            dataType: 'json',
            success: function reChargeProcessCart() {
          	 window.location = '/checkout';
            }
          });
        }
       

//         if (this.questions.subscriptionPlan == 'PLAN SUBSCRIPTION') {
//           var testOption = this.questions.productSubscriptionOption;
//           var shipping_interval_unit;


//           switch (this.questions.productDeliveryFrequency) {
//             case "Fortnightly":
//               shipping_interval_unit = "14";
//               break;
//             case "Weekly":
//               shipping_interval_unit = "7";
//               break;
//             case "Monthly":
//               shipping_interval_unit = "30";
//               break;

//           };

//           switch (this.questions.productDurationFrequency) {
//             case "3 Months":
//               shipping_frequency = "90";
//               break;
//             case "6 Months":
//               shipping_frequency = "180";
//               break;
//             case "12 Months":
//               shipping_frequency = "360";
//               break;

//           };

         

//         for (let i = 0; i < this.allProducts.length; i++) {
//           for (let b = 0; b < this.allProducts[i].variants.length; b++) {
//             var productSku = this.allProducts[i].variants[b].sku;
//             if (productSku && productSku.toLowerCase() === ProductBuildSku.toLowerCase()) {
//               if (this.allProducts[i].variants[b].selling_plan_allocations.length > 0) {
//                 this.productId = this.allProducts[i].variants[b].id;
//                 this.sellingPlan = this.allProducts[i].variants[b].selling_plan_allocations[0].selling_plan_id;
//                 console.log(`sell_plan: ${this.sellingPlan}`);
//                 console.log(`var_id: ${this.productId}`);
//               }
//             }
//           }
//         };
          
//         var data = {
//           "quantity": 1,
//         };


//         console.log(data);

//           //    debugger    
//           jQuery.ajax({
//             type: 'post',
//             url: '/cart/add.js',
//             data: data,
//             dataType: 'json',
//             success: function () {
//               window.location = '/checkout';
//             },
//             error: function (XMLHttpRequest) {
//               console.log(XMLHttpRequest.responseText);
//             }
//           });
//         }

//       },

//     },

    //          mounted () {
    //     axios
    //       .get('/admin/api/2020-07/orders/{order_id}/fulfillments.json')
    //       .then(response => (this.info = response))
    //   },

  });
</script>

{% schema %}
{
  "name": "Subscription Flow",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
    "max_blocks": 2,
    "settings": [
        {
            "type": "collection",
            "id": "feature_collection",
            "label": "Featured collection"
        },
        {
            "type": "image_picker",
            "id": "image_from_shopify",
            "label": "Change Image"
        },
        {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "Carefully selected coffee through your door"
        },
        {
            "type": "textarea",
            "id": "paragraph_message_1",
            "label": "Paragraph 1",
            "default": "Our subscription coffees are selected to showcase exceptional seasonal coffee that express their process and origin with clarity. This could be a coffee from our existing range, a preview of a new release, or a small micro-lot exclusive to our subscribers."
        },
        {
            "type": "textarea",
            "id": "paragraph_message_2",
            "label": "Paragraph 2",
            "default": "All subscription coffee is roasted to order and dispatched in a mailbox* friendly package every Wednesday."
        },
        {
            "type": "textarea",
            "id": "paragraph_message_3",
            "label": "Paragraph 3",
            "default": "*Height of mailbox package is 40mm, based on the average letterbox height in the UK*"
        }
 
    ],
    "blocks": [
        {
          "type": "Q1",
          "name": "Answers for 1st question",
          "settings": [
            {
              "id": "question1_answer1",
              "label": "Answer 1 text for Question 1/5",
              "type": "textarea",
              "default": "Coffeee delivered direct to your door with recurring payments. Choose from one of our core coffees or have us choose a new variety for each shipment, alongside your grind preference and delivery schedule.",
              "info": "Type text for answer 1 here"
            },
            {
              "id": "question1_answer2",
              "label": "Answer 2 text for Question 1/5",
              "type": "textarea",
              "default": "Treat yourself or somebody else to fixed term subscription for 3, 6 or 12 months. Choose from one of our core coffees or have us choose new variety for each shipment, alongside your grind preference and delivery schedule."
            }
          ]
        },
        {
          "type": "Q2",
          "name": "Answers for 2st question",
          "settings": [
          {
            "type": "header",
            "content": "Main Answers"
          },
          {
              "id": "question2_answer1",
              "label": "Core Subscription Text",
              "type": "textarea",
              "default": "For those who know what they like, choose one of the coffees that are available all year round."
            },
            {
              "id": "question2_answer11",
              "label": "Core Subscription Caption",
              "type": "text",
              "default": "From 8.95 inc. Delivery"
            },
            {
              "id": "question2_answer2",
              "label": "Roasters Choice Text",
              "type": "textarea",
              "default": "Looking for something new? A carefully selected variety that changes with every shipment. Experience a wide range from the world of speciality coffee."
            },
            {
              "id": "question2_answer12",
              "label": "Roasters Choice Caption",
              "type": "text",
              "default": "From 10.95 inc. Delivery"
            },
            {
              "id": "question2_answer3",
              "label": "Decaf",
              "type": "textarea",
              "default": "Our ever rotating seasonal Decaffeinated Coffee. For all the flavour of speciality coffee with none of the caffeine."
            },
            {
              "id": "question2_answer13",
              "label": "Decaf Caption",
              "type": "text",
              "default": "Set price here"
            },

            {
              "type": "header",
              "content": "Core Subscription Sub Answers"
            },


            {
              "id": "question2_answer1_sub-answer1_text",
              "label": "Core Subscription - Pantano Text",
              "type": "textarea",
              "default": "Suitable for all methods of brewing and shining example of everything Brazil can offer."
            },
            {
              "id": "question2_answer1_sub-answer1_caption",
              "label": "Core Subscription - Pantano Caption",
              "type": "text",
              "default": "Orange, Hazelnut & milk Chocolate"
            },
            {
              "id": "question2_answer1_sub-answer2_text",
              "label": "Core Subscription - Jones Text",
              "type": "text",
              "default": "A blend that showcases sparkling acidity while balanced with a acoffee that adds sweetness and body."
            },
            {
              "id": "question2_answer1_sub-answer2_caption",
              "label": "Core Subscription - Jones Caption",
              "type": "text",
              "default": "Cherry, Hazelnut & Chocolate"
            },
            {
              "id": "question2_answer1_sub-answer3_text",
              "label": "Core Subscription - Docker Text",
              "type": "textarea",
              "default": "For those of you who want a well sourced, ethical coffee, with a classic flavour profile."
            },
            {
              "id": "question2_answer1_sub-answer3_caption",
              "label": "Core Subscription - Docker Caption",
              "type": "text",
              "default": "Dark Chocolate, Berries & Caramelised Sweetness"
            },
            {
              "id": "question2_answer1_sub-answer4_text",
              "label": "Core Subscription - La Bolsa - Text",
              "type": "textarea",
              "default": "Full of juicy cherry and plum flavours and wonderfully long chocolate finish."
            },
            {
              "id": "question2_answer1_sub-answer4_caption",
              "label": "Core Subscription - La Bolsa - Caption",
              "type": "text",
              "default": "Cherry, Plum & Chocolate"
            }
          ]
        }
    ],
  "presets": [
    {
      "name": "Subscription Flow"
    }
  ]
}
{% endschema %}
